.maincontainer{
    background-color: white;
    width: 600px;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 16px 8px rgba(0, 0, 0, 0.5);
    
    
}
.box{
text-align: left;
}
.box h1{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
}
.box p{
    font-size: 15px;
    padding: 10px 0px;
}

form{
    display: flex;
    justify-content: center;
}
form input{
    flex: 1;
    height: 30px;
    padding: 0px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid gray;
}
form button{
    height: 31px;
    padding: 0px 20px;
    background-color: rgb(26, 135, 228);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    font-size: 16px;


}
form button:hover{
    color: aliceblue;
}
.maincontainer ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
}
.item button:hover{
    transform: scale(0.9);
}
.clearall{
    margin-top: 10px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid rgb(26, 135, 228);
    padding: 10px 30px;
}
.clearall:hover{
    border: 1px solid black;
    transform: scale(0.9);
}